{% extends 'front.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block yosr %}
    <h1>Create new Reponse</h1>
    <div class="send-message">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Ajouter votre Reponse</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">
                        {% set id = 1 %}
                        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset >
                                    <h4>Question</h4>
                                    {{ form_widget(form.Question,{'attr': {'class': 'form-control' , 'placeholder' : 'Reponse'}}) }}

                                </fieldset>
                            </div>
                            <h4>Reponse</h4>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    {{ form_errors(form.reponse) }}
                                    {{ form_widget(form.reponse,{'attr': {'class': 'form-control' , 'placeholder' : 'description'}}) }}
                                </fieldset>
                            </div><br><br><br>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">{{ button_label|default('Modifier') }}</button>
                                </fieldset>
                            </div>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <a href="{{ path('reponse_index') }}">vOIR VOS REPONSES</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
