{% extends 'base2.html.twig' %}

{% block body %}

<div class="container">

  <h2> <center>Liste des réclamations</h2>

  <br> </br>          

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Date</th>
        <th>Description</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody>
    {% for Reclamation in Reclamations %}
      <tr><td>
       {{ Reclamation.sujet }}
      </td>   <td>
        {{ Reclamation.date}}
       </td> <td>
     {{ Reclamation.description}}
       </td> <td>

     <a href="{{path('showreclamationBack', {'id': Reclamation.id}) }}"> Consulter</a>
     <a href="{{path('deletereclamationBack', {'id': Reclamation.id}) }}"> Supprimer</a>

     </tr> 
    </tbody>
    {% endfor %}
  </table>   


</div>
{% endblock %}

