{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

  <h2> <center>Consulter réclamation</h2>

  <br></br>

<div class="container">
<p>Sujet : </p>
  <div class="well">{{ Reclamation.sujet }}</div>
  
</div>

  
<div class="container">
 <p>Date : </p>
  <div class="well">{{ Reclamation.date}}</div>
 
</div>
<div class="container">
   <p>Description : </p>
  <div class="well well-lg">{{ Reclamation.description}}</div>
  
  
</div>
  <br></br>
  <div class="col-md-12">
            <div class="section-heading">
              <a href="{{ path('updatereclamation', {'id': Reclamation.id}) }}"> Modifier</a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="section-heading">
              <a href="{{path('deletereclamation', {'id': Reclamation.id}) }}"> Supprimer</a>
              </div>
          <div class="col-md-12">
            <div class="section-heading"> 
        <a href="{{path('listRec', {'id': Reclamation.id}) }}"> Annuler</a>
            </div>
          </div>

     

 </div>
{% endblock %}

