{% extends "base.html.twig" %}

{% block title %}Produit index{% endblock %}
{% block body %}
<tr> </tr>


    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><i class="fa fa-bullhorn"></i> Id</th>
                <th>Nom</th>
                <th><i class="fa fa-bookmark"> Prix</th>
                <th>Image</th>
                <th>Quantite</th>
                <th>Avis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.Prix }}</td>
                <td><img src="{{ asset('uploads/'~produit.Image) }}" WIDTH=150 HEIGHT=120 alt=""></td>
                <td>{{ produit.Quantite }}</td>
                <td>{{ produit.avis }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
