{% extends 'back.html.twig' %}
{% block body  %}
<section id="main-content">
      <section class="wrapper">
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          
            


  <br> </br>
  <br> </br>
  <h2> <center>Liste des hotels</h2>
  <div class="col-md-12">
  <form method="post" action="{{ path('search') }}">
    <label>Nom</label>
<input type="text" id="search" class="form-control" placeholder="Search"></form>
<form action="{{ path('HotelsOrderASC') }}">
   
   <input type="submit" value="TrierASC">
</form>
<form action="{{ path('HotelsOrderDESC') }}">
   
   <input type="submit" value="TrierDESC">
</form>
            <div class="section-heading">
             <left> <a href="/hebergement/newHotel">Ajouter un Offre <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody id="search">
    {% for hotel in hotels %}
      <tr><td>
       {{ hotel.nom }}
      </td>   <td>
        {{ hotel.adresse}}
       </td> <td>
     {{ hotel.price}}
       </td> <td>
     {{ hotel.description }}
      </td>   <td>
        {{ hotel.datedebut|date("m/d/y")}}
       </td> <td>
     {{ hotel.datefin|date("m/d/y")}}
     <td>
       

     <a href="{{ path('updateHotel', {'id': hotel.id}) }}"> Modifier</a>
     <a href="{{path('deleteHotel', {'id': hotel.id}) }}"> Supprimer</a>
     </td>

     </tr> 
    </tbody>
    {% endfor %}
  </table>
   <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>Hotels Statistics</h3>
            </div>
            <div class="custom-bar-chart">
              <ul class="y-axis">
              {% for hotel in hotels %}
                <li><span>{{hotel.datedebut|date("M")}}</span></li>
                
              {% endfor %}
              </ul>
              {% for hotel in hotels %}
              <div class="bar">
                <div class="title">{{ hotel.nom }}</div>
                <div class="value tooltips" data-toggle="tooltip" data-placement="top">50%</div>
              </div>
              
              {% endfor %}
              
    </div>
    </section>
    </section>
    


<script>
$( document ).ready(function() {
        $("#search").keyup(function(e){
          var value = $(this).val();
             $.ajax({
                url : "{{ path('adminhotels') }}",
                type : 'POST', 
                data: {
                        'searchValue' : value
                    },
                success : function(retour){
                  if(retour){
  			$('#t tbody#search').empty();
  			$.each(JSON.parse(retour), function(i, obj) {
  			$('#t tbody#all').hide();
  			$('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.nsc+'  </td><td>'+obj.email+' </td><td><a href="updateStudent/'+obj.id+'">modifier</a> </br><a href="deleteStudent/'+obj.id+'">supprimer</a></td></tr>');
});
                  }
                  else
                  {
   $('#t tbody#all').show();
   $('#t tbody#search').empty();
   $('#t tbody#search').fadeIn('fast');
                     }
 },
        });
        return false;
        });
    });
        </script>

{% endblock %}
