{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

  <h2> <center>Liste des Users</h2>

  <br> </br>          

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Tel number</th>
        <th>Email</th>
        <th>Password</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody>
    {% for User in Users %}
      <tr><td>
       {{ User.name }}
      </td>   <td>
        {{ User.fname}}
       </td> <td>
     {{ User.birthday}}
       </td> <td>
     {{ User.gender }}
      </td>   <td>
        {{ User.num}}
       </td> <td>
     {{ User.email}}
       </td> <td>
     {{ User.password}}
       </td> <td>

     <a href="{{ path('updateUser', {'id': User.id}) }}"> Modifier</a>
     <a href="{{path('deleteUser', {'id': User.id}) }}"> Supprimer</a>

     </tr> 
    </tbody>
    {% endfor %}
  </table>   


</div>
{% endblock %}

