{% extends 'base2.html.twig' %}

{% block body %}
<section id="main-content">
      <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-6 col-md-6 col-sm-6">
<div class="container">

  <h2>Liste des Users</h2> 

  <form 
   action="{{ path('TrierParDate') }}">
   <input type="submit" value="TrierDESC">
   </form>

  <br> </br>      
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Tel number</th>
        <th>Email</th>
        <th>Password</th>
        <th>Photo</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody>
    {% for User in Users %}
    
      <tr><td>
       {{ User.name }}
      </td>   <td>
        {{ User.fname}}
       </td> <td>
     {{ User.birthday|date("m/d/y")}}
       </td> <td>
     {{ User.gender }}
      </td>   <td>
        {{ User.num}}
       </td> <td>

     {{ User.email}}
       </td> <td>
     {{ User.password}}
       </td> <td>
<a href="{{ path('listUser', {'id': User.id}) }}"><img src="{{ asset ('uploads/' ~ User.image) }}" alt=""height="100px" width="100px"></a>
 
     <a href="{{path('showUser', {'id': User.id}) }}"> Consulter</a>
     <a href="{{path('deleteUser', {'id': User.id}) }}"> Supprimer</a>

     </tr> 
      
    
    </tbody>
    {% endfor %}
  </table>   


</div>
</div>
</div>
</section>
{% endblock %}

